<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strack</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" 
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
     crossorigin="anonymous" referrerpolicy="no-referrer" />
     <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

     <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
     <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>

<body>
    <div class="container">
    <header>
        <div class="navbar">
            <div class="logo"><a href="#">Strack</a></div>
            <ul class="links">
                <li><a href="hero">Home</a></li>
                <li><a href="about">About</a></li>
                <li><a href="services">Services</a></li>
                <li><a href="contact">Contact</a></li>
                <li><a href="/html/login/login.html">Log In</a></li>
            </ul>
            <a href="/html/sign_up/sign_up.html" class="action_btn">Sign Up</a>

            <div class="toggle_btn">
                <ion-icon name="menu-outline"></ion-icon>
            </div>

        </div>
        
        <div class="dropdown_menu">
            <li><a href="#hero">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="services">Services</a></li>
            <li><a href="contact">Contact</a></li>
            <li><a href="/html/sign_up/sign_up.html">Sign Up</a></li>
            <li><a href="#" class="action_btn">Get Started</a></li>
        </div>
    </header>


    <section idclass="hero">
        <div  class="hero_content" >
            <div class="hero_text">
            <h1 class="animateUp strack">Welcome to  <b style="background-color: rgb(255, 0, 170); " >STRACK</b> </h1>
            <p class="animateSide">STRACK is a project management software designed to streamline your project 
                workflow and enhance collaboration among team members.
                 With our intuitive features and user-friendly interface, managing projects
                  has never been easier. </p>
        </div>
            <img src="/html/images/home-img.png" alt="">
        </div>

    </section>

    </div>

        <div class="about" id="about">
            <div class="about_text">
                <h2>About</h2>
                <p>Strack is a powerful project management tool that streamlines workflow, maximizes productivity, and delivers successful projects.
                <p>With an intuitive interface, you can easily create and organize projects, assign tasks, and track progress in real-time.</p>
                <p>Collaboration is seamless, fostering communication, file sharing, and updates within the platform. Stay organized with comprehensive tools for task management, time tracking, resource allocation, and budget management.</p>
                <p>Your data is secure and confidential, adhering to industry standards. Strack is flexible, scalable, and customizable to your organization's processes.</p>
                <p>Join thousands of satisfied users and revolutionize your project management experience. Welcome to Strack, where efficiency, collaboration, and rewards await.</p>
               
            </div>
            <img src="/html/images/about.png" alt="">
        </div>

        <div class="service_section">
            <h2>Services We Offer</h2>
         <div class="service">
            <div class="service_text">
                
                <p>
                    At Strack, we provide a wide range of services to cater to your project management needs. <br> Our offerings include:
                </p>
                <div class="service_list">
                        <div class="list_one">
                            <ul>
                            <li>Project Planning and Organization</li>
                        <li>Task Management and Assignment</li>
                        <li>Real-time Progress Tracking</li>
                        <li>Collaboration and Communication Tools</li>
                        <li>File Sharing and Document Management</li> </ul>
                        </div>
                        <div class="list_two">
                          <ul> <li>Time Tracking and Resource Allocation</li>
                            <li>Budget Management and Cost Tracking</li>
                            <li>Customizable Workflows and Processes</li>
                            <li>Data Security and Confidentiality</li>
                            <li>User-friendly Interface and Intuitive Features</li> </ul> 
                        </div>
                    
                </div>
                <ul>
                    <li>Project Planning and Organization</li>
                    <li>Task Management and Assignment</li>
                    <li>Real-time Progress Tracking</li>
                    <li>Collaboration and Communication Tools</li>
                    <li>File Sharing and Document Management</li>
                    <li>Time Tracking and Resource Allocation</li>
                    <li>Budget Management and Cost Tracking</li>
                    <li>Customizable Workflows and Processes</li>
                    <li>Data Security and Confidentiality</li>
                    <li>User-friendly Interface and Intuitive Features</li>
                </ul>
                <p>
                    Whether you are a small team or a large organization, our services are designed to streamline your project workflow, enhance collaboration among team members, and ultimately drive successful project outcomes.
                </p>
                
            </div>
            

            <div class="service_img">
                <img src="/html/images/3497651-removebg-preview.png" alt="">
            </div>
        </div>

    </div>
        
   


    <!-- <ion-icon name="eye-off-outline"></ion-icon> -->

    <script>

        const toggle_btn = document.querySelector('.toggle_btn');
        const dropdown_menu = document.querySelector('.dropdown_menu');
        const toggleIcon = document.querySelector('.toggle_btn ion-icon');

            toggle_btn.onclick = function () {
            dropdown_menu.classList.toggle('open');

                if (dropdown_menu.classList.contains('open')) {
                toggleIcon.setAttribute('name', 'close-outline');
            } else {
                        toggleIcon.setAttribute('name', 'menu-outline');
                    }
};

    const scroll = document.querySelector = ('#about > div > h2');
    window.onscroll = function() {
        myFunction()
    }


    </script>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>


</body>
</html>
